{% set rows = table_data['rows'] %}
{% set cols = table_data['cols'] %}
{% set headers = table_data['headers'] %}
{% set rc = rows|count %}
{% set rc2 = headers|count %}
{% set rc3 = headers|count %}
{#{% set show_t_wins = rc > 0 and 't' in ranking[0] %}#}
<table class="bordered highlight responsive-table">
    <thead>
    <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        {% set team = teams[row['id']] %}
        {% set has_deck = 'deck' in team %}
        {% set has_link = 'link' in team %}
        {% set has_title = row['id'] in titles %}
        {% set row_class = team['_class'] if '_class' in team else '' %}
        <tr class="{{ row_class }}">
            <td>
                {% if has_link %}
                    <a href="{{ team['link'] }}">{{ team['name'] }}</a>
                {% else %}
                    <span>{{ team['name'] }}</span>
                {% endif %}
                {% if has_deck %}
                    <br/>
                    <span class="blue-text text-darken-2">{{ team['deck'] }}</span>
                {% endif %}
                {% if has_title %}
                    <br/>
                    <span class="deep-orange-text text-darken-2">{{ titles[row['id']]|join(', ') }}</span>
                {% endif %}
            </td>
            {% for col in cols %}
                <td>{{ row[col] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>