{% set rc = ranking|count %}
{% set show_t_wins = rc > 0 and 't' in ranking[0] %}
<table class="bordered highlight">
    <thead>
    <tr>
        <th>Name</th>
        {% if show_t_wins %}
            <th>Tournaments</th>
        {% endif %}
        <th>Match Wins</th>
        <th>Match Lost</th>
        <th>Set Wins</th>
        <th>Set Lost</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    {% for rank in ranking %}
        {% set p = participants[rank['id']] %}
        <tr>
            <td>
                <span>{{ p['player'].name }}</span>
                <br/>
                <span class="blue-text text-darken-2">{{ p['deck'].name }}</span>
            </td>
            {% if show_t_wins %}
                <td>
                    {{ rank['t'] }}
                </td>
            {% endif %}
            <td>
                {{ rank['mw'] }}
            </td>
            <td>
                {{ rank['ml'] }}
            </td>
            <td>
                {{ rank['w'] }}
            </td>
            <td>
                {{ rank['l'] }}
            </td>
            <td>
                {{ rank['pts'] }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>