{% extends 'layout.html' %}
{% block head %}
    {% if admin %}
        <link href="/static/css/view_tournament.css" rel="stylesheet"/>
        <script src="/static/js/view_tournament.js"></script>
    {% endif %}
{% endblock %}
{% block section %}Tournaments{% endblock %}

{% block body %}

    <h2>{{ tournament.name }}</h2>
    <h4>Scores</h4>
    {% with ranking = data %}
        {% include 'ranking/table_view.html' %}
    {% endwith %}
    <br/>
    <h4>Rounds</h4>
    <br/>
    {% for round in rounds %}
        {% set cols = round|count %}
        {% set cols = 12/cols %}
        {% set cols = cols|round|int %}
        <p>Round {{ loop.index }}</p>
        <hr/>
        <div class="row">
            {% for game in round %}
                {% set p1class = 'teal lighten-5' if game.p1_wins > game.p2_wins else '' %}
                {% set p2class = 'teal lighten-5' if game.p2_wins > game.p1_wins else '' %}
                {% set p1 = participants[game.p1_id]['player'] %}
                {% set p2 = participants[game.p2_id]['player'] %}
                <div class="col m{{ cols }}">
                    <table class="bordered game">
                        <tr>
                            <td class="{{ p1class }}">{{ p1.name }}</td>
                            <td class="{{ p1class }}">{{ game.p1_wins }}</td>
                            {% if admin %}
                                <td rowspan="2" class="score-edit">
                                    <a class="btn-floating waves-effect waves-light"
                                       onclick="editGame({{ game.id }}, '{{ p1.name }}', {{ game.p1_wins }}, '{{ p2.name }}', {{ game.p2_wins }})">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="{{ p2class }}">{{ p2.name }}</td>
                            <td class="{{ p2class }}">{{ game.p2_wins }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        <br/>
    {% endfor %}


    {% if admin %}
        <!-- Modal Structure -->
        <div id="editGame" class="modal score-edit">
            <div class="modal-content">
                <h4>Edit Game</h4>
                <div class="row">
                    <div class="input-field col s5">
                        <input id="p1Wins" type="text" class="validate">
                        <label id="p1Name" for="name"></label>
                    </div>
                    <span class="col s2">X</span>
                    <div class="input-field col s5">
                        <input id="p2Wins" type="text" class="validate">
                        <label id="p2Name" for="name"></label>
                    </div>
                    <a class="modal-action modal-close waves-effect waves-green btn-flat right" onclick="saveGame()">Save</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if admin %}
        <script>
            $(document).ready(function () {
                // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });
        </script>
    {% endif %}
{% endblock %}