{% extends 'layout.html' %}
{% block head %}

{% endblock %}
{% block section %}Player Data{% endblock %}

{% macro opponent_table(data, teams) -%}
    <table class="bordered highlight responsive-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>G. Played</th>
            <th>G. Won</th>
            <th>G. Loss</th>
            <th>% Victories</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
            {% set team = teams[row['id']] %}
            {% set name = team.nickname if team.nickname else team.name %}
                <td>{{ name }}</td>
                <td>{{ row['t'] }}</td>
                <td>{{ row['w'] }}</td>
                <td>{{ row['l'] }}</td>
                <td>{{ '%.2f' |format(row['perc']) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    {% set nickname = '(' + player.nickname + ')' if player.nickname else '' %}
                    <span class="card-title">{{ player.name }} {{ nickname }}</span>
                    <hr/>
                    <table class="responsive-table">
                        {% set headers = ranking_table['headers'] %}
                        {% set cols = ranking_table['cols'] %}
                        {% set row = ranking_table['rows'][0] %}
                        <tr>
                            {% for col in cols %}
                                <td>{{ headers[loop.index] }}:</td>
                                <td>{{ row[col] }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs indigo-text">
                <li class="tab"><a class="active" href="#opponents">Wins against opponents</a></li>
                <li class="tab"><a href="#decks">Wins with decks</a></li>
            </ul>
        </div>
        <div id="opponents" class="col s12">
            {{ opponent_table(games_data, players) }}
        </div>
        <div id="decks" class="col s12">
            {{ opponent_table(decks_data, decks) }}
        </div>
    </div>
{% endblock %}