<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MTM - Magic Tournament Manager</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <style>
        @media screen and (min-width: 720px) {
            .brand-logo {
                margin-left: 10px;
            }
        }
        .mtm-padding {
            padding: 0 16px !important;
        }
    </style>

    {% block head %}
    {% endblock %}
</head>
<body>

<ul id="playerDropdown" class="dropdown-content">
    <li><a href="/players">Overall</a></li>
    <li><a href="/players/constructed">Constructed</a></li>
    <li><a href="/players/draft">Draft</a></li>
    <li><a href="/players/thg">Two Headed Giant</a></li>
</ul>
<nav class="nav-extended indigo">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MTM</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/tournaments">Tournaments</a></li>
            <li><a class="dropdown-button" data-activates="playerDropdown" href="#!">Players<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="bold"><a class="mtm-padding" href="/tournaments">Tournaments</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold">
                        <a class="collapsible-header waves-effect waves-teal">Players</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/players">Overall</a></li>
                                <li><a href="/players/constructed">Constructed</a></li>
                                <li><a href="/players/draft">Draft</a></li>
                                <li><a href="/players/thg">Two Headed Giant</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="bold"><a class="mtm-padding" href="/decks">Decks</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}
    {% endblock %}
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $(".dropdown-button").dropdown();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $('ul.tabs').tabs();

        // TAB Indicator/Underline Color
        $(".tabs>.indicator").css("background-color", '#3f51b5');

        // TAB Text Color
        $(".tabs>li>a").css("color", '#3f51b5');
    });
</script>
{% block scripts %}
{% endblock %}
</body>
</html>