<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MTM - Magic Tournament Manager</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MTM</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/tournaments">Tournaments</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/decks">Decks</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/tournaments">Tournaments</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/decks">Decks</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}
    {% endblock %}
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('select').material_select();
        $('ul.tabs').tabs();
        $(".button-collapse").sideNav();
    });
</script>
{% block scripts %}
{% endblock %}
</body>
</html>